

#if ($Squad.getHeroes().size()> 0)
<p>
  #foreach($hero in $Squad.getHeroes())
   <p><a href="/heroes/$hero.getId()">$hero.getName()</a></p>
  #end
<p>
#else
 <p> <em></em></p>
#end

<a href="/squads/$Squad.getId()/newhero"><button type="submit" class="btn btn-outline-success">Add new hero</button></a><br><br>


