
<h1>$squad.getName() Heroes:</h1>

#if ($squad.getHeroes().size()> 0)
<ol>
  #foreach($hero in $squad.getHeroes())
   <li><a href="/heroes/$hero.getId()">$hero.getName()</a></li>
  #end
</ol>
#else
 <p> <em>No Heroes were found!</em></p>
#end
<a href="/squads/$squad.getId()/newhero"><button type="submit" class="btn btn-success">Add new hero</button></a><br><br>

<a href="/squads"><button type="submit" class="btn btn-success">view Squads</button></a>
